.alert-notify {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  color: #08c25e;
  background: white;
  
}
body{
  font-family: 'roboto';
  color: #747487;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  background-color: whitesmoke;
}
html {
  background-color: whitesmoke;
}
.App {

  background-color: whitesmoke;
}
html{
  background-color: whitesmoke;

}
div#root {
  background-color: whitesmoke;
}

.imgEdit{

  background-repeat: no-repeat;
    background-position: center;
}
.cha {
  position: relative;

}
.btn{
  outline: none !important;
}
.img-slide1{
  height: 500px;
  background-image: url("https://dl.airtable.com/.attachments/470b99ae8a22a94a7b7f4b6f6ebadc6d/be65fde8/FS-vi2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.imglogin{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fir-firebase-4d563.appspot.com/o/images%2Flogo.png?alt=media&token=1f57f48d-ef22-46f2-a27e-c6099a6f662a");
    background-repeat: no-repeat;
    background-position: center;
}
.form1 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fir-firebase-4d563.appspot.com/o/images%2Flogo.png?alt=media&token=1f57f48d-ef22-46f2-a27e-c6099a6f662a");
  height: 650px !important;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  animation: zoom 30s infinite ease-in-out;
  overflow: hidden;
}
.modal-backdrop.fade.show{    z-index: 100;}
.title_banner {
  position: absolute;
  top: 30%;
  color: white;
  font-size: 60px;
  font-weight: 700;
  left: 3%;
}
.title_banner2 {
  position: absolute;
  top: 42%;
  color: white;
  font-size: 50px;
  font-weight: 700;
  left: 3%;
}
.inputSearch{
  width: 469px;
    height: 38px;
    border: solid 2px #eeeeee;
}
.giamgiabanner{
  font-weight: 700;
  font-size: 90px;
  color: #F2B02E;
}
.banner{
  overflow: hidden;
}
.danhmucsanpham {
  position: relative;
  top: -73px;
  z-index: 100;
  background-color: white;
  max-width: 1240px;
  margin: 0 auto;
  overflow: auto;
  white-space: nowrap;
}
.card.product {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;

  overflow: hidden;
}
.sieuthi.mb-3{
  color: #747487 !important;
}
.sieuthi.mb-3:hover{
  color: #747487 !important;
}
.trongluong{
  color: #747487 !important;
}
.trongluong:hover{
  color: #747487 !important;
}
.card.pt-3.text-center {
  border: none;
}
.card-title.tensp{
  color: #888 !important;
  font-size: 15px !important;
  text-overflow: ellipsis !important;
  font-weight: 0 !important;
  height: 48px;
}
.card-title{
  color: #888 !important;
  font-size: 15px !important;
  text-overflow: ellipsis !important;
  font-weight: 0 !important;
  margin-top: 0px !important;
}
.card-title.tensp.p-0.m-0 {
  font-weight: 100;
}
.card-title.tensp:hover{
  color: #08c25e !important;
}
.card.text-center {
  border: none;
}
.m-2.bg-orange {
  width: 48px;
  background: orange;
  padding-left: 3%;
  color: white !important;
  border-radius: 5px;
  float: right;
  z-index: 1000000000;
}
.spbanchay{
background-color: #fff;
max-width: 1240px;
margin: 0 auto;
}
p.gia.mt-1 {
  font-weight: 600;
  color: #08c25e;
  font-size: 17px;
}
.gia.pt-3.pb-4{
  border: none;
  font-size: 33px;
}
button.carousel-control-prev {
  border: none;
  background: transparent;
}
button.carousel-control-next {
  border: none;
  background: transparent;
}
@-webkit-keyframes zoom {
  from {
      transform: scale(0.5);
  }
}
@keyframes zoom{
  to{
    transform: scale(1.5);
    animation: zoom 10s;
  }
}
a.nav-link.js-scroll-trigger.MenuRow.active {
  color: #F2B02E  !important;
}
.MenuRow{
  color: #08c25e  !important;
  font-weight: 600;
  font-size: 15px !important;
}
.MenuRow1{
  color: #F2B02E  !important;
  font-weight: 600;
  font-size: 15px !important;
}
.MenuRow:hover{
  color: #F2B02E  !important;
  font-weight: 600;
}
.MenuRow1:hover{
  color: #08c25e  !important;
  font-weight: 600;
}
.cartMenu{
  color: #ed6663  !important;
  font-size: 30px !important;
}
.avt{
  border-radius: 50% !important;
  height: 50px !important;
  width: 50px !important;
}
.logost{
  height: 80px !important;
  width: 100px !important;
}
.btn.dropdown-toggle{
  color: #fff;
  box-shadow: none;
}
input.form-control.search {
  border-radius: 30px;
  box-shadow: none;
  border: solid 1px #F2B02E;
}
input.soluong.sl {
  width: 89px;
  height: 37px;
  outline: none;
  border: none !important;
}
.menu {
  /* position: absolute; */
  /* position: relative; */
  top: 0;
  z-index: 10000;
  width: 100%;
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
}
.btn .badge .badge-danger .badge-counter {
  position: relative;
  top: -15px !important;
  left: -15px !important;
  color: white !important;
  z-index: 0;
}
.dropdown .open .show{
  color: #08c25e;
}
.btnlogin.p-2 {
  background-color: #08c25e;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none !important;
  outline: none;
  width: 107px;
  border: none;
}
.btnlogin.p-2:hover {
  background-color: #F2B02E;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.btn-ThanhToan{
  background-color: #08c25e;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none !important;
  outline: none;
}
.btn-ThanhToan:hover {
  background-color: #F2B02E;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.btnsave.p-2 {
  background-color: #08c25e;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none !important;
  outline: none;
  border: none;
  width: 114px;
}
.btnsave.p-2:hover {
  background-color: #F2B02E;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.tanggiam{
  background: #fff;
  border: 1px #ddd solid;
  border-radius: 999px;
  padding: 1px 2px;
  max-width: 202px !important;
  height: 52px;
}
.sl{
  display: inline-block;
}
.btn.sl.sum{
  border-radius: 50%;
  color: black;
  font-weight: bold;
  outline: none;
  height: 50px;
  width: 50px;
  font-weight: bold;
  box-shadow: none;

}
.btn.sl.sum:hover{
  border: solid #ddd;
  background-color:#80b435;
  color: #fff;
}

.btn.sl.minus{
  border-radius: 50%;
  color: black;
  font-weight: bold;
  outline: none;
  height: 50px;
  width: 50px;
  font-weight: bold;
  box-shadow: none;
}
.btn.sl.minus:hover{
  border: solid #ddd;
  background-color:#80b435;
  color: #fff;
}
button.btn.addcart.ml-2 {
  background-color: #F2B02E;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  box-shadow: none;

}
button.btn.addcart.ml-2:hover {
  background-color: #80b435;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  transition: 1s;
}
.icon_fb.icon2:hover{
  background-color: #3c5b9b;
  color: #fff !important;
}

.icon_tw.icon2:hover{
  background-color: #359BED;
  color: #fff !important;
}
.iconpinterest.icon2.mr-2:hover{
  background-color: #cb2027;
  color: #fff !important;
}

.iconinsta.icon2:hover{
color: white;
background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.icon2{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #ddd;
  text-align: center;
  color: #8b8989;
  font-size: 25px;
  border-radius: 3px;
}
.icongm.icon2:hover{
  background-color: #e33729;
  color: #fff;
}
input.form-control.me-2 {
  border-radius: 30px;
  box-shadow: none;
}
button.btn.btn-outline-success {
  border-radius: 30px;
  background-color: #08c25e;
  border: none;
  transition: 0.5s;
  color: white;
}
button.btn.btn-outline-success:hover {
  background-color: #f2b02e;

}
img.card-img-top0 {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.card-body{
  padding-top: .25rem!important;
  padding-left: 0px !important;
}
.km{
  background-color: #08c25e;
  width: 1314px;
  height: 150px;
}
.title_sp{
  height: 100px ;
  background-color: #F06F00;
  color: white;
  width: 133px;
}

.khoi{
  position: relative;
  overflow: hidden;
  /* height: 448px; */
}
.fa-cart-plus{
  display: inline-block;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.icon-card-plus{
    height: 60px;
    width: 60px;
    border: solid 5px white;
    border-radius: 50%;
    background-color: #80b435;
    color: #fff;
    font-size: 17px;
    text-align: center;
    display: inline-block;
    box-shadow: -0px 8px 15px rgba(0, 0, 0, 0.1);
}
.icon-card-plus:hover{
  background-color: #F2B02E;
  color: #fff;
  transition: 1s;

}
.stick-note{
  position: absolute;
  left: 7px;
  top: 7px;
  color: white;
  background-color: #F2B02E;
  font-family: 'Comic Sans MS';
  /* padding-top: 15px; */
  z-index: 10000;

}
.weight{
  color: #ea0000;
  margin-left: 5px;
}
.layer1{
  overflow: hidden;
  height: 172px;
 
  border: 1px #eaeaea solid;
}
.layer2{
  opacity: 0;
  position: absolute;
  top: 0;
}
.icon-card-plus{
  position: absolute;
  top: 212px;
  right: 50%;
  left: 37%;

}
.khoi:hover .layer2{
  opacity: 1;
  transition: 1.5s;

}

.khoi:hover img{
  transform: scale(2);
  transition: 2.5s;
  overflow: hidden;
}
.card-img-top {
  width: 100%;
  overflow: hidden;
}
.col-md-3:hover .khoi .card-title{
  color: F2B02E;

}
.col-md-3.pl-0 {
  border: 1px #eaeaea solid;
}
.card-title{
  font-weight: 700;
  font-family: 'roboto';
  font-size: 20px;
  /* color:  #08c25e;; */
}
p.card-text.tensp {
  margin-top: 0;
  margin-bottom: 2PX;
}
.card.text-center {
  margin: 0px;
  background-color: transparent;
}
.bgimg {
  background-image: url("https://klbtheme.com/qualis/wp-content/uploads/2019/01/slider-07.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  height: 550px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: -106%;
  left: 12%;
}
#timer {
  font-size: 40px !important;
  font-weight: 100;
  color: white;
  /* text-shadow: 0 0 20px #48C8FF; */
  /* padding: 70px 50px; */
  /* background-color: #08c25e; */

}

#timer div {
  display: inline-block;
  width: 118px;
  border-radius:30px ;
  /* padding: 10px 10px; */
  padding-top: 20px ;
  background-color: #F2B02E;
  margin-right: 20px;
}

#timer div span {
  color: #fff !important;
  display: block;
  font-size: .35em;
  font-weight: 400;
  padding: 30px 30px;
}
.middle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10000000;
}
.container.mt-5.spkm{
  position: relative;
  top: -448px;
  background-color: #fff;
  box-shadow: 0 5px 0 rgb(200 200 200 / 20%);
  z-index: 1;
  border-top: solid 5px #F2B02E;
  max-width: 1240px;
}

#timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #48C8FF;
}

#timer div {
  display: inline-block;
  min-width: 90px;
}

#timer div span {
  color: #B1CDF1;
  display: block;
  font-size: .35em;
  font-weight: 400;
}
hr {
  margin: auto;
  width: 40%;
}


.spkm.logostore.mb-4.bg-white {
  position: relative;
}
.avt{
  height: 70px;
  width: 163px;
  border-radius: 50%;
}
.comment{
  font-family: serif!important;
  font-style: italic;
  font-size: 22px;
  line-height: 1.5;
}
a.dropdown-item.mb-2.MenuRow.Notifi {
  color: #747487 !important;
}
.footer {
  height: 600px;
  background: #333 repeat-x 50% 0;

}
.icon{
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: white;
  border: solid 1px;
  border-radius: 50% !important ;
}
.btn.fb{
  color: #747487 !important
}
.btn.gm{
  color: #747487 !important
}
.iconinsta.icon:hover {
  color: #08c25e !important;
}
.iconfb.icon:hover {
  color: #08c25e;
}
.icontw.icon:hover {
  color: #08c25e;
}
.iconytb.icon:hover {
  color: #08c25e;
}
.iconpinterest.icon:hover {
  color: #08c25e;
}
input.form-control.ml-2 {
  height: 62px;
  max-width: 425px;
  border-radius: 30px;
}
button.btn.sent-email {
  background-color: #08c25e;
  height: 62px;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  width: 155px;
}
button.btn.sent-email:hover{
  background-color:#08c25e ;
}
a.store{
  color:#08c25e !important ;
}
.Footer a{
  color: #fff !important;
  text-decoration: none !important;
}
a{
  text-decoration: none !important;

}
a:hover{
  color:#08c25e !important ;
}
i.fa.fa-map-marker {
  font-size: 30px;
  color: white;

}
i.fa.fa-phone {
  font-size: 30px;
  color: white;
}
i.fa.fa-envelope {
  font-size: 28px;
  color: white;
}
p.help.is-danger{
  color: #ff3860;
  font-size: 0.75rem;
  margin-top: 0.25rem;

}
.saleTime {
  /* margin: 0 auto; */
  position: absolute;
  top: -9%;
  left: 17%;
}
.countDouwn.pt-3{
  background-color: orange;
  margin: 10px;
  overflow: hidden;
  /* display: block; */
  text-align: center;
  padding: 10px;
  width: 111px;
  height: 90px;
  color: white;
  border-radius: 36px;
  font-size: 23px;
  font-weight: 600;
}
.title-countdown{
  font-size: 14px;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  .modal-content {
      width: 350px !important;
  }
  .middle.mt-5{
      display: none;
      color: #08c25e;
  }
  .modal .fade .show{
      width: 360px;

  }
  .middle{
      display: none;
  }
  .danhmucsanpham{
      display: none;
  }
  .container.pb-4.mt-5.spkm {

      left: 0px;

  }
  .container.p-4.mt-4 {
    position: relative;
    top: 60px;
}
}
@media only screen and (max-width: 400px) {
  /* .store.container{
      margin-top: 317%;
  } */
  .footer{
    margin-top: 502px;
    height: 1468px;
  }
  .container.logostore {
    margin-top: 450px;
}
  .danhmucsanpham{
      display: none;
  }
  .container.mt-5.spkm {

      left: 0px;

  }
  .spkm.logostore.mb-4.bg-white {
    position: relative;
    top: 482px;
}
.saleTime {
 display: none !important;
 opacity: 0;
}
.countDouwn.pt-2{
  background-color: orange;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  width: 82px;
  height: 72px;
  color: white;
  border-radius: 36px;
  font-size: 25px;
  font-weight: 400;
}
.title-countdown.pt-3{
  font-size: 16px;
  font-weight: 100;
}
  .store{
      margin-top: 300%;
  }
  /* .footer{
      margin-top: 300%;
  } */
  .col-md-1.text-right {
    display: none;
}
}



/* css cho cưa hàng */
.container-fuild{
  max-width: 1500px;
}
.menu-trai{
  border-right: solid 1px #ececec;
}
.sanpham{
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  min-height: 1.2em;
  font-family: inherit;
  padding-left: 15px;
  border-bottom: solid 1px #dfdfdf;

}
.form-control {

  outline: none !important;

}
option{
  background-color: transparent;
  outline: none !important;
}
.danhmuc-thuonghieu {
  border-bottom: solid 1px #dfdfdf;
}
/* menuphai */
.menu_phai {
  background-color: white;
  min-height: 650px;
}

/* thanhcongcu */

.thanhcongcu{
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #495057;
  min-height: 1.2em;
  font-family: inherit;
  padding: 15px;
  display: inline-block;

}
/* themmoi */
.btn-outline-danger {
  color: #dc3545 !important;
  border-color: #dc3545;
}
.themmoi .btn-outline-danger:hover{
  background-color:#dc3545 ;
  color: white  !important;
}

.themmoi .btn-outline-danger:hover{
  background-color:#dc3545 ;
  color: white;
}
.khuyenmai {
  border: solid 1px;
  border-radius: 7px;
  font-weight: 500;
}
.btn-mieuta{
  background-color: #80b435;
  color: black;
  font-weight: bold;
}
.btn-nhanxet{
  background-color: #efecec;
  color: black;
  font-weight: bold;
}
.bodyprd{
  position: relative;

}
 .mt{
  background-color: #fff;
}
.MTT {
  DISPLAY: inline-block;
}
.nx{
  background-color: #fff;
  top: 0;
  left: 0;
  color: black;
  z-index: 1;

}
.table-responsive-sm.pb-5 {
  height: 547px;
  overflow: auto;
}
h3.pt-4 {
  color: #858796;
}
i.fa.fa-bell{
  color: #dddfeb!important;
}
tr a {
  color: #858796 !important;
}
tr a:hover {
  color: black !important;
}

button.shake{
  animation: shake 1s infinite;
}

#imgAimasion.shake{
  animation: shake 10s infinite;
}

#imgAimasion {
  width: 0px;
  position: relative;
  left: 92%;
}

@keyframes shake {
0%  { transform: translate(-1000px, 1000px)   rotate(0deg);  }
0.1%   { width: 99%;   }
0.2%   { width: 98%;   }
0.3%   { width: 97%;   }
0.4%   { width: 96%;   }
0.5%   { width: 95%;   }
0.6%   { width: 94%;   }
0.7%   { width: 93%;   }
0.8%   { width: 92%;   }
0.9%   { width: 91%;   }
1.0%   { width: 90%;   }
1.1%   { width: 89%;   }
1.2%   { width: 88%;   }
1.3%   { width: 87%;   }
1.4%   { width: 86%;   }
1.5%   { width: 85%;   }
1.6%   { width: 84%;   }
1.7%   { width: 83%;   }
1.8%   { width: 82%;   }
1.9%   { width: 81%;   }
2.0%   { width: 80%;   }
2.1%   { width: 79%;   }
2.2%   { width: 78%;   }
2.3%   { width: 77%;   }
2.4%   { width: 76%;   }
2.5%   { width: 75%;   }
2.6%   { width: 74%;   }
2.7%   { width: 73%;   }
2.8%   { width: 72%;   }
2.9%   { width: 71%;   }
3.0%   { width: 70%;   }
3.1%   { width: 69%;   }
3.2%   { width: 68%;   }
3.3%   { width: 67%;   }
3.4%   { width: 66%;   }
3.5%   { width: 65%;   }
3.6%   { width: 64%;   }
3.7%   { width: 63%;   }
3.1%   { width: 59%;   }
4.2%   { width: 58%;   }
4.3%   { width: 57%;   }
4.4%   { width: 56%;   }
4.5%   { width: 55%;   }
4.6%   { width: 54%;   }
4.7%   { width: 53%;   }
4.8%   { width: 52%;   }
4.9%   { width: 51%;   }
5.0%   { width: 50%;   }
5.1%   { width: 49%;   }
5.2%   { width: 48%;   }
5.3%   { width: 47%;   }
5.4%   { width: 46%;   }
5.5%   { width: 45%;   }
5.6%   { width: 44%;   }
5.7%   { width: 43%;   }
5.8%   { width: 42%;   }
5.9%   { width: 41%;   }
6.0%   { width: 40%;   }
6.1%   { width: 39%;   }
6.2%   { width: 38%;   }
6.3%   { width: 37%;   }
6.4%   { width: 36.%;   }
6.5%   { width: 35%;   }
6.6.%   { width: 34%;   }
6.7%   { width: 33%;   }
6.8%   { width: 32%;   }
6.9%   { width: 31%;   }
7.0%   { width: 30%;   }
7.1%   { width: 29%;   }
7.2%   { width: 28%;   }
7.3%   { width: 27.%;   }
7.4%   { width: 26%;   }
7.5%   { width: 25%;   }
7.6%   { width: 24%;   }
7.7%   { width: 23%;   }
7.8%   { width: 22%;   }
7.9%   { width: 21%;   }
8.0%   { width: 20%;   }
8.1%   { width: 19%;   }
8.2%   { width: 18%;   }
8.3%   { width: 17%;   }
8.4%   { width: 16%;   }
8.5%   { width: 15%;   }
8.6%   { width: 14%;   }
8.7%   { width: 13%;   }
8.8%   { width: 12%;   }
8.9%   { width: 11%;   }
9.0%   { width: 10%   }
9.1%   { width:10%   }
9.2%   { width:10%   }
9.3%   { width:10%   }
9.4%   { width:10%   }
9.5%   { width:10%   }
9.6%   { width:10%   }
9.7%   { width:10%   }
9.8%   { width:10%   }
9.9%   { width:10%   }
10% { transform: translate(-1px, -2px) rotate(-2deg); width:10%; }
20% { transform: translate(-3px, 0px)  rotate(3deg); width: 20%;  bottom:100px ;}
30% { transform: translate(0px, 2px)   rotate(0deg); width: 10%; }
40% { transform: translate(1px, -1px)  rotate(1deg);  width: 10%;}
50% { transform: translate(-1px, 2px)  rotate(-1deg);width: 50%; }
60% { transform: translate(-3px, 1px)  rotate(0deg);  width: 60%;}
70% { transform: translate(2px, 1px)   rotate(-2deg); width: 70%;}
80% { transform: translate(-1px, -1px) rotate(4deg);  width: 80%;  }
90% { transform: translate(2px, 2px)   rotate(0deg);   width: 90%; }
100%{ transform: translate(1px, -2px)  rotate(-1deg);  width: 100%; }

}

/* @keyframes shake {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */
.dropdown-item.active{
background-color: transparent;

}