.MenuColumn1{
  color: #f5d311  !important;
  font-size: 15px !important;
}
a.MenuColumn.active{
  color: #08c25e   !important;

  font-size: 15px !important;
}
.MenuColumn{
    color: #858796  !important;
    
    padding: 0px !important;
}
  .MenuColumn:hover{
    color: #08c25e  !important;
  }
  .nav-item.spkm{
    border-bottom: solid 1px silver;
  }